<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/ionicons.min.css" />

    <title>ProCon</title>
  </head>
  <body>
    <div id="instructions">
      <ul>
        <li><strong>Instructions</strong></li>
        <li>Write and enter to add a pro or con</li>
        <li>Click an item to change priority</li>
        <li>Hover and click to delete</li>
        <li>Use "Clear All" to clear a section</li>
        <li>Click "Save" to keep your list for later</li>
      </ul>
      <p>By <a href="http://www.ceskavich.com/">Billy Ceskavich</a></p>
    </div>
    <div id="proconapp">
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
